body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    background-color: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #555;
}

.navbar li {
    float: left;
}

main {
    padding: 20px;
}

.list {
    padding: 0;
    list-style-type: none;
}

.list li {
    margin-bottom: 10px;
}

.abilities {
    padding-left: 20px;
}

.abilities li {
    margin-bottom: 10px;
    line-height: 1.5;
}
